<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Takso!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="//maps.googleapis.com/maps/api/js?key=<%= Application.get_env(:takso, :gmaps_api_key) %>"></script>

  </head>

  <body>
    <div class="container">
    <nav class = "light-blue">
      <div class = "nav-wrapper container">
        <a href = "/" class = "brand-logo">
          Welcom to Takso 
        </a>
        <ul class ="right">
            <li>
              <a href = "#">Sign Up</a>
            </li>
            <li>
              <a href = "#">Signin</a>
            </li>
        </ul>
      </div>
    </nav>
          
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->



        <footer class="page-footer light-blue" style="margin-top:100px">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Agile Software Development</h5>
                <p class="grey-text text-lighten-4">Takso.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Members</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Teddy T. Mabulay</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">Repo</a>
            </div>
          </div>
        </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
