
<%= if @conn.assigns.current_user do %>
<div class =  "container" style = "margin-top:50px; text-align:center">
  <a href="/users" class = "btn"> List of users </a>
  <a href="/bookings/show" class = "btn" style = "background-color:grey"> API Fonctionalities and Logs </a>
  <a href="/bookings" class = "btn"> List of taxi </a>
</div>
<% end %>




