<div class =  "container" style = "margin-top:50px; text-align:center">
  <a href="/users" class = "btn"> List of users </a>
  <a href="/users" class = "btn" style = "background-color:grey"> BOOKING API </a>
  <a href="/bookings" class = "btn"> List of taxi </a>
</div>